* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
  }
  
  .landing-page {
    background-color: black;
    display: flex;
    flex-direction: row;
  }

  .text-column {
      display: flex;
      flex-direction: column;
      color: white;
      float: right;
      text-align: center;
  }


  .img-column {
      float: left;
      height: 100%;
      width: 100%; 
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Rufina', serif;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: auto;
  }

  P {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Sintony', sans-serif;
    word-wrap: break-word;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Sintony', sans-serif;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
}

button:hover {
  background-color: #4e545c; /* Change this to the hover color you want */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Add a stronger shadow effect on hover */
}

.button2 {
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0.5;
  z-index: 2;
  font-family: 'Sintony', sans-serif;

}
.back-button {
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  
}

.opaque {
  opacity: 1;
}
.transparent {
  opacity: 0.5;
}



@media only screen and (max-width: 768px) {

  .body, html {
    height: 100%;
    width: 100%;
  }
    .landing-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .text-column {
      align-items: center;
    }

    img {
      width: 100%;
    }



    .text-column {
        text-align: center;
        margin: auto;
    }

}
  